# Lab7 ORM介绍和基础查询练习

## 1. ORM的介绍

ORM：Object Relation Mapping，最初主要描述的是程序中的Object对象和关系型数据库中Relation关系(表)之间的映射关系，目前来说也是描述程序中对象和数据库中数据记录之间的映射关系的统称，是一种进行程序和数据库之间数据持久化的一种编程思想。

**特点是操纵Python对象而不是SQL查询，也就是在代码层面考虑的是对象，而不是SQL，体现的是
一种程序化思维，这样使得Python程序更加简洁易读。**

### 增删改操作

常规情况下，软件程序中的ORM操作主要有四个操作场景：增、删、改、查. 核心操作一般会区分
为：增删改、查询

**增加操作**：程序中存在的一个对象Object数据，通过[ORM]核心模块进行增加的函数定义将对象保存到数据库的操作过程；  
如：注册操作中，通过用户输入的账号密码等信息创建了一个独立的对象，通过`add()`函数将对象增加保存到数据库中，数据库中就存在用户这个对象数据了。

**修改操作**：程序中存在的一个对象Object数据，有自己的id编号(可以是程序中自行赋值定义、更多的操作是从数据库中查询出来存在的一个对象)，通过[ORM]核心模块进行修改函数的定义将对象改变的数据更新到数据库中已经存在的记录中的过程；  
如:用户更改登录密码操作时，根据程序中查询得到的一个用户[id编号、账号、密码、..]，在程序中通过改变其密码属性数据，然后通过`update()`函数将改变的数据更新保存到数据库中，数据库中原来的数据就发生了新的改变。

**删除操作**：程序中存在的一个对象或者已知的id编号，通过主键编号或者对象的任意属性进行数据库中数据记录的删除的操作过程；  
如：管理员删除某个会员账号的操作，通过获取要删除会员的账号，然后通过`delete()`函数将要删除的会员信息告知数据库执行删除操作，数据库中的某条存在的数据记录就被删除掉了。

## 2.sqlalchemy

### 2.1 sqlalchemy的介绍和安装

SQLAlchemy 是一个Python 的SQL 工具包以及数据库对象映射框架。它包含整套企业级持久化模
式，专门为高效和高性能的数据库访问。

如果想在本地安装，可使用以下语句：

```
pip install SQLAlchemy
pip install psycopg2
```

在该水杉环境中已经安装完成，直接导入即可：

In [ ]:
import sqlalchemy

### 2.2 sqlalchemy 的简单操作

In [ ]:
from sqlalchemy import Column, String, create_engine, Integer, Text, Date
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
import time

#### 2.2.1 建立连接

在网址`postgresql://ecnu学号:ECNU学号@pgm-uf6t8021ru5tac71.rwlb.rds.aliyuncs.com:5432/ecnu学号`中填入自己的学号

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://ecnu10225501447:ECNU10225501447@pgm-uf6t8021ru5tac71.rwlb.rds.aliyuncs.com:5432/ecnu10225501447",
    echo=True,
    pool_size=8, 
    pool_recycle=60*30
)

#### 2.2.2 建立会话（session）

session 用于创建程序与数据库之间的对话.

In [ ]:
from sqlalchemy.orm import sessionmaker
# 创建session
DbSession = sessionmaker(bind=engine)
session = DbSession()

session 的常见用法:
1. commit：提交了一个事务
2. rollback：回滚
3. close：关闭

#### 2.2.3 创建表格

declarative_base()是sqlalchemy内部封装的一个方法，通过其构造一个基类，这个基类和它的子类，可以将Python类和数据库表关联映射起来。

数据库表模型类通过tablename和表关联起来，Column表示数据表的列。

In [ ]:
from sqlalchemy.ext.declarative import declarative_base

# 创建对象的基类:
Base = declarative_base()

In [ ]:
# 定义User对象:
class User(Base):
    # 表的名字:
    __tablename__ = 'users'
    
    # 表的结构:
    id = Column(Integer, autoincrement=True, primary_key=True, unique=True, nullable=False)
    name = Column(String(50), nullable=False)
    sex = Column(String(4), nullable=False)
    nation = Column(String(20), nullable=False)
    birth = Column(String(8), nullable=False)
    id_address = Column(Text, nullable=False)
    id_number = Column(String(18), nullable=False)
    creater = Column(String(32))
    create_time = Column(String(20), nullable=False)
    updater = Column(String(32))
    update_time = Column(String(20), nullable=False,
    default=time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()),
    onupdate=time.strftime("%Y-%m-%d %H:%M:%S",time.localtime()))
    comment = Column(String(200))
    
def createTable():
    # 创建所有继承于Base的类对应的表
    Base.metadata.create_all(engine)
    
createTable()

#### 2.2.4 插入数据

In [ ]:
# 插入操作
def insertData():
    
    # 创建会话 
    session = DbSession()
    
    # 创建新User对象:
    local_time = time.strftime("%Y-%m-%d %H:%M:%S",time.localtime())
    new_user = User(name='mdotdot', sex='女', nation='汉',
    birth='19981021', id_address='ECNU', id_number='441242142142',
    create_time=local_time)
    new_user1 = User(name='xdot', sex='男', nation='汉',
    birth='19990110', id_address='ECNU', id_number='451242142142',
    create_time=local_time)
    
    # 添加到session:
    session.add(new_user)
    session.add(new_user1)
    # 提交即保存到数据库:
    session.commit()
    
    # 关闭session: 
    session.close()
    
insertData()

#### 2.2.5 查询数据

 SQL 与 SQLalchemy 的写法区别为：
- query ：对应 SELECT xxx FROM xxx
- filter/filter_by ：对应 WHERE ，fillter 可以进行比较运算(==, >, < ...)来对条件进行灵活的运用，不同的条件用逗号分割，fillter_by 只能指定参数传参来获取查询结果。
- limit ：对应 limit()
- order by ：对应 order_by()
- group by ：对应 group_by()

返回结果数量可以有以下两种方式：

all()
- 查询所有
- 返回一个列表对象
 
first()
- 查询第一个符合条件的对象
- 返回一个对象

在ORM中，查询也有和SQL类似的关键字

In [ ]:
from sqlalchemy import and_,or_

| like                | session.query(Person).filter(Person.desc.like("活%")).all()  |
| ------------------- | ------------------------------------------------------------ |
| not like            | session.query(Person).filter(Person.desc.notlike("活%")).all() |
| is(等价于==)        | session.query(Person).filter(Person.username.is_(None)).all()，session.query(Person).filter(Person.username == None).all() |
| isnot(等价于 !=)    | session.query(Person).filter(Person.username.isnot(None)).all()，session.query(Person).filter(Person.username != None).all() |
| 正则查询            | session.query(Person).filter(Person.password.op("regexp")(r"^[\u4e00-\u9fa5]+")).all() |
| count               | session.query(Person).filter(Person.desc.like("活%")).count() |
| in                  | session.query(Person).filter(Person.username.in_(['Mark', 'Tony'])).all() |
| not in(等价于~in)   | session.query(Person).filter(Person.username.notin\_(['Mark', 'Tony'])).all()，session.query(Person).filter(~Person.username.in\_(['Mark', 'Tony'])).all() |
| AND(导入and_)       | more_person = session.query(Person).filter(and_(Person.password\=='123456',Person.desc=="可爱'")).all() |
| OR(导入or_)         | session.query(Person).filter(or_(Person.password\=='123456',Person.desc=="活泼'")).all() |
| limit               | session.query(Person).filter(Person.desc.notlike("活%")).limit(1).all() |
| offset              | session.query(Person).filter(Person.desc.like("活%")).offset(1).all() |
| order_by（asc正序） | session.query(Person).order_by(Person.username.desc()).all() |
| group_by            | session.query(Person).group_by(Person.desc).all()            |
| between             | session.query(Protocols.protocolName).filter(Protocols.id.between(1, 3)).all() |

聚合函数

In [ ]:
from sqlalchemy import func, extract

| 关键字 | 示例                                                         |
| ------ | ------------------------------------------------------------ |
| count  | session.query(Person.password, func.count(Person.id)).group_by(Person.password).all() |
| sum    | session.query(Person.password, func.sum(Person.id)).group_by(Person.password).all() |
| max    | session.query(Person.password, func.max(Person.id)).group_by(Person.password).all() |
| min    | session.query(Person.password, func.min(Person.id)).group_by(Person.password).all() |
| having | session.query(Person.password, func.count(Person.id)).group_by(Person.password).having(func.count(Person.id) > 1).all() |

In [ ]:
#查询所有数据
def find_all():
    # 创建Session
    session = DbSession()
    
    user = session.query(User).all()
    for i in user:
        print('id:',i.id)
        print('name:', i.name)
        print('id_address:', i.id_address)
        print('id_number:', i.id_number)
        
    session.close() # 关闭Session
    
find_all()

In [ ]:
# 查询操作
def selectData():
    # 创建Session
    session = DbSession()

    # 创建Query查询，filter是where条件，最后调用one()返回唯一行，如果调用all()则返回所有行:
    user = session.query(User).filter(User.id == '1' and User.name == 'mdotdot').first()
    
    if user:
        print('name:', user.name)
        print('id_address:', user.id_address)
    
    session.close() # 关闭Session
    
selectData()

- 还可以将查询的参数单独写：

In [ ]:
# 创建Session
session = DbSession()

filter = (User.name=='mdotdot')
user = session.query(User).filter(filter).first()
print(user.name)

session.close()

#### 2.2.6 修改数据

- 适用于批量修改

In [ ]:
session.query(User).filter_by(name = "mdotdot").update({'name':"Jack"})
session.commit() # 提交即保存到数据库

In [ ]:
find_all()

修改成功

- 适用于获取对象的值,进行操作之后修改

In [ ]:
# 更新操作
def updateData():
    session = DbSession() # 创建会话
    
    users = session.query(User).filter(User.name=="Jack").first()# 查询条件
    
    if users:
        users.id_number = "abcd" # 更新操作
        session.add(users) # 添加到会话
        session.commit() # 提交即保存到数据库
    
    session.close() # 关闭会话
    
updateData()

In [ ]:
find_all()

已修改成功

#### 2.2.7 删除数据

- 直接将删除语句写成一行

In [ ]:
delete_query = session.query(User).filter(User.name=='xdot').delete()
session.commit() # 提交会话

In [ ]:
find_all()

- 查找到数据后再删除

In [ ]:
# 删除操作
def deleteData():
    session = DbSession() # 创建会话
    
    delete_users = session.query(User).filter(User.id == "1").first()
    if delete_users:
        session.delete(delete_users)
        session.commit()
        
    session.close() # 关闭会话
    
deleteData()

In [ ]:
find_all()

数据都成功删除

#### 2.2.8 删除表格

In [ ]:
def dropTable():
    sql = 'DROP TABLE IF EXISTS users;'
    result = engine.execute(sql)
    
dropTable()

删除所有表

In [ ]:
# all tables are deleted
Base.metadata.drop_all(engine)

## 3. ORM练习

**注意：本次练习中的数据为3.4中数据一次插入的结果。如果不小心多次插入，可使用删除数据或者删除表，再重新插入。**

### 3.1 建立连接

In [ ]:
from sqlalchemy import create_engine

new_engine = create_engine("postgresql://ecnu10225501447:ECNU10225501447@pgm-uf6t8021ru5tac71.rwlb.rds.aliyuncs.com:5432/ecnu10225501447",
    echo=True,
    pool_size=8, 
    pool_recycle=60*30
)

### 3.2 建立会话

In [ ]:
from sqlalchemy.orm import sessionmaker

newSession = sessionmaker(bind=new_engine)
session = newSession()

### 3.3 表格创建

四个表格分别是 student, course, teacher, score.

```
create table student(
s_id varchar(10),
s_name varchar(20),
s_age date,
s_sex varchar(10)
);

create table course(
c_id varchar(10),
c_name varchar(20),
t_id varchar(10)
);

create table teacher (
t_id varchar(10),
t_name varchar(20)
);

create table score (
s_id varchar(10),
c_id varchar(10),
score integer );
```

In [ ]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [ ]:
class User(Base):
    __tablename__ = 'student'

    s_id = Column(String(10), primary_key=True, nullable=False)
    s_name = Column(String(20), nullable=False)
    s_age = Column(Date, nullable=False)
    s_sex = Column(String(10), nullable=False)

    __tablename__ = 'course'

    c_id = Column(String(10), primary_key=True, nullable=False)
    c_name = Column(String(20), nullable=False)
    t_id = Column(String(10), nullable=False)

    __tablename__ = 'teacher'

    t_id = Column(String(10), primary_key=True, nullable=False)
    t_name = Column(String(20), nullable=False)

    __tablename__ = 'score'

    s_id = Column(String(10), primary_key=True, nullable=False)
    c_id = Column(String(10), primary_key=True, nullable=False)

### 3.4 插入数据

```
insert into student (s_id, s_name, s_age, s_sex)
values 
('01' , '赵雷' , '1990-01-01' , '男'),
('02' , '钱电' , '1990-12-21' , '男'),
('03' , '孙风' , '1990-05-20' , '男'),
('04' , '李云' , '1990-08-06' , '男'),
('05' , '周梅' , '1991-12-01' , '女'),
('06' , '吴兰' , '1992-03-01' , '女'),
('07' , '郑竹' , '1989-07-01' , '女'),
('08' , '王菊' , '1990-01-20' , '女');

insert into course (c_id, c_name, t_id)
values 
('01' , '语文' , '02'),
('02' , '数学' , '01'),
('03' , '英语' , '03');

insert into teacher (t_id, t_name)
values 
('01' , '张三'),
('02' , '李四'),
('03' , '王五');

insert into score (s_id, c_id, score)
values 
('01' , '01' , 80),
('01' , '02' , 90),
('01' , '03' , 99),
('02' , '01' , 70),
('02' , '02' , 60),
('02' , '03' , 80),
('03' , '01' , 80),
('03' , '02' , 80),
('03' , '03' , 80),
('04' , '01' , 50),
('04' , '02' , 30),
('04' , '03' , 20),
('05' , '01' , 76),
('05' , '02' , 87),
('06' , '01' , 31),
('06' , '03' , 34),
('07' , '02' , 89),
('07' , '03' , 98);
```

思考：怎样写代码可以批量插入数据

In [ ]:
def insertData():
    session = newSession()

    new_student1 = User(s_id='01', s_name='赵雷', s_age='1990-01-01', s_sex='男')
    new_student2 = User(s_id='02', s_name='钱电', s_age='1990-12-21', s_sex='男')
    new_student3 = User(s_id='03', s_name='孙风', s_age='1990-05-20', s_sex='男')
    new_student4 = User(s_id='04', s_name='李云', s_age='1990-08-06', s_sex='男')
    new_student5 = User(s_id='05', s_name='周梅', s_age='1991-12-01', s_sex='女')
    new_student6 = User(s_id='06', s_name='吴兰', s_age='1992-03-01', s_sex='女')
    new_student7 = User(s_id='07', s_name='郑竹', s_age='1989-07-01', s_sex='女')
    new_student8 = User(s_id='08', s_name='王菊', s_age='1990-01-20', s_sex='女')

    new_course1 = User(c_id='01', c_name='语文', t_id='02')
    new_course2 = User(c_id='02', c_name='数学', t_id='01')
    new_course3 = User(c_id='03', c_name='英语', t_id='03')

    new_teacher1 = User(t_id='01', t_name='张三')
    new_teacher2 = User(t_id='02', t_name='李四')
    new_teacher3 = User(t_id='03', t_name='王五')

    new_score1 = User(s_id='01', c_id='01', score=80)
    new_score2 = User(s_id='01', c_id='02', score=90)
    new_score3 = User(s_id='01', c_id='03', score=99)
    new_score4 = User(s_id='02', c_id='01', score=70)
    new_score5 = User(s_id='02', c_id='02', score=60)
    new_score6 = User(s_id='02', c_id='03', score=80)
    new_score7 = User(s_id='03', c_id='01', score=80)
    new_score8 = User(s_id='03', c_id='02', score=80)
    new_score9 = User(s_id='03', c_id='03', score=80)
    new_score10 = User(s_id='04', c_id='01', score=50)
    new_score11 = User(s_id='04', c_id='02', score=30)
    new_score12 = User(s_id='04', c_id='03', score=20)
    new_score13 = User(s_id='05', c_id='01', score=76)
    new_score14 = User(s_id='05', c_id='02', score=87)
    new_score15 = User(s_id='06', c_id='01', score=31)
    new_score16 = User(s_id='06', c_id='03', score=34)
    new_score17 = User(s_id='07', c_id='02', score=89)

### 3.5 习题

提示：如果写的代码运行出现断开连接，可以通过下面的语句重新连接。（由于代码的不正确导致的）

In [ ]:
session = DbSession()

1.查询学生中的所有女生，并将名字按降序排序

2.查询" 01 "课程中成绩最高的5位同学的id和成绩

3.查询出生年份在1990年的同学(注意：s_age的类型为date）

4.查询每位同学一共选择了几门课和总成绩

5.查询01课程或02课程成绩大于85的同学id