# Lab8 ORM拓展

本章主要介绍 Python 使用 ORM 对 PostgreSQL 数据库进行多表连接，子查询，反向查询等一些操作，并且进行综合练习

## 预先准备

### 连接数据库

In [3]:
import sqlalchemy
from sqlalchemy import Column, String, create_engine, Integer, Text, Date
from sqlalchemy.orm import sessionmaker,scoped_session
from sqlalchemy.ext.declarative import declarative_base
import time
from sqlalchemy import create_engine
engine = create_engine("postgresql://ecnu10225501447:ECNU10225501447@pgm-uf6t8021ru5tac71.rwlb.rds.aliyuncs.com:5432/ecnu10225501447",
    max_overflow=0,
    # 链接池大小
    pool_size=5,
    # 链接池中没有可用链接则最多等待的秒数，超过该秒数后报错
    pool_timeout=10,
    # 多久之后对链接池中的链接进行一次回收
    pool_recycle=1,
    # 查看原生语句（未格式化）
    echo=True
)
Session = sessionmaker(bind=engine)
session = scoped_session(Session)
DbSession = sessionmaker(bind=engine)
session = DbSession()

### 创建数据表

In [4]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Enum,ForeignKey,UniqueConstraint
from sqlalchemy.orm import relationship
Base = declarative_base()

class StudentsNumberInfo(Base):
    """学号表"""
    __tablename__ = "studentsNumberInfo"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    number = Column(Integer, nullable=False, unique=True, comment="学生编号")
    admission = Column(Date, nullable=False, comment="入学时间")
    graduation = Column(Date, nullable=False, comment="毕业时间")

class TeachersInfo(Base):
    """教师表"""
    __tablename__ = "teachersInfo"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    number = Column(Integer, nullable=False, unique=True, comment="教师编号")
    name = Column(String(64), nullable=False, comment="教师姓名")
    gender = Column(String(1), nullable=False, comment="教师性别")
    age = Column(Integer, nullable=False, comment="教师年龄")
class ClassesInfo(Base):
    """班级表"""
    __tablename__ = "classesInfo"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    number = Column(Integer, nullable=False, unique=True, comment="班级编号")
    name = Column(String(64), nullable=False, unique=True, comment="班级名称")
    # 一对一关系必须为连接表的连接字段创建UNIQUE的约束，这样才能是一对一，否则是一对多
    fk_teacher_id = Column(
        Integer,
        ForeignKey(
            "teachersInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE",
        ),
        nullable=False,
        unique=True,
        comment="班级负责人"
    )
    # 下面这2个均属于逻辑字段，适用于正反向查询。在使用ORM的时候，我们不必每次都进行JOIN查询，而恰好正反向的查询使用频率会更高
    # 这种逻辑字段不会在物理层面上创建，它只适用于查询，本身不占据任何数据库的空间
    # sqlalchemy的正反向概念与Django有所不同，Django是外键字段在那边，那边就作为正
    # 而sqlalchemy是relationship字段在那边，那边就作为正
    # 比如班级表拥有 relationship 字段，而老师表不曾拥有
    # 那么用班级表的这个relationship字段查老师时，就称为正向查询
    # 反之，如果用老师来查班级，就称为反向查询
    # 另外对于这个逻辑字段而言，根据不同的表关系，创建的位置也不一样：
    #  - 1 TO 1：建立在任意一方均可，查询频率高的一方最好
    #  - 1 TO M：建立在M的一方
    #  - M TO M：中间表中建立2个逻辑字段，这样任意一方都可以先反向，再正向拿到另一方
    #  - 遵循一个原则，ForeignKey建立在那个表上，那个表上就建立relationship
    #  - 有几个ForeignKey，就建立几个relationship
    # 总而言之，使用ORM与原生SQL最直观的区别就是正反向查询能带来更高的代码编写效率，也更加简单
    # 甚至我们可以不用外键约束，只创建这种逻辑字段，让表与表之间的耦合度更低，但是这样要避免脏数据的产生
    # 班级负责人，这里是一对一关系，一个班级只有一个负责人
    leader_teacher = relationship(
        # 正向查询时所链接的表，当使用 classesInfo.leader_teacher 时，它将自动指向fk的那一条记录
        "TeachersInfo",
        # 反向查询时所链接的表，当使用 teachersInfo.leader_class 时，它将自动指向该老师所管理的班级
        backref="leader_class",
    )
class ClassesAndTeachersRelationship(Base):
    """任教老师与班级的关系表"""
    __tablename__ = "classesAndTeachersRelationship"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    # 中间表中注意不要设置单列的UNIQUE约束，否则就会变为一对一
    fk_teacher_id = Column(
        Integer,
        ForeignKey(
            "teachersInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE",
        ),
        nullable=False,
        comment="教师记录"
    )
    fk_class_id = Column(
        Integer,
        ForeignKey(
            "classesInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE",
        ),
        nullable=False,
        comment="班级记录"
    )
    # 多对多关系的中间表必须使用联合唯一约束，防止出现重复数据
    __table_args__ = (
        UniqueConstraint("fk_teacher_id", "fk_class_id"),
    )
    # 逻辑字段
    # 给班级用的，查看所有任教老师
    mid_to_teacher = relationship(
        "TeachersInfo",
        backref="mid",
    )
    # 给老师用的，查看所有任教班级
    mid_to_class = relationship(
        "ClassesInfo",
        backref="mid"
    )
class StudentsInfo(Base):
    """学生信息表"""
    __tablename__ = "studentsInfo"
    id = Column(Integer, primary_key=True, autoincrement=True, comment="主键")
    name = Column(String(64), nullable=False, comment="学生姓名")
    gender = Column(String(1), nullable=False, comment="学生性别")
    age = Column(Integer, nullable=False, comment="学生年龄")
    # 外键约束
    # 一对一关系必须为连接表的连接字段创建UNIQUE的约束，这样才能是一对一，否则是一对多
    fk_student_id = Column(
        Integer,
        ForeignKey(
            "studentsNumberInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE"
        ),
        nullable=False,
        comment="学生编号"
    )
    # 相比于一对一，连接表的连接字段不用UNIQUE约束即为多对一关系
    fk_class_id = Column(
        Integer,
        ForeignKey(
            "classesInfo.id",
            ondelete="CASCADE",
            onupdate="CASCADE"
        ),
        comment="班级编号"
    )
    # 逻辑字段
    # 所在班级, 这里是一对多关系，一个班级中可以有多名学生
    from_class = relationship(
        "ClassesInfo",
        backref="have_student",
    )
    # 学生学号，这里是一对一关系，一个学生只能拥有一个学号
    number_info = relationship(
        "StudentsNumberInfo",
        backref="student_info",
    )
if __name__ == "__main__":
    # 删除表
    Base.metadata.drop_all(engine)
    # 创建表
    Base.metadata.create_all(engine)

2024-05-10 14:52:44,586 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-05-10 14:52:44,587 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-10 14:52:44,592 INFO sqlalchemy.engine.Engine select current_schema()
2024-05-10 14:52:44,592 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-10 14:52:44,597 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-05-10 14:52:44,598 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-10 14:52:44,602 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:44,606 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,606 INFO sqlalchemy.engine.Engine [generated in 0.00059s] {'table_name': 'studentsNumberInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,612 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,613 INFO sqlalchemy.engine.Engine [cached since 0.006867s ago] {'table_name': 'teachersInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,616 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,616 INFO sqlalchemy.engine.Engine [cached since 0.01045s ago] {'table_name': 'classesInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,619 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,620 INFO sqlalchemy.engine.Engine [cached since 0.01374s ago] {'table_name': 'classesAndTeachersRelationship', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,622 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,623 INFO sqlalchemy.engine.Engine [cached since 0.01687s ago] {'table_name': 'studentsInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,626 INFO sqlalchemy.engine.Engine COMMIT
2024-05-10 14:52:44,628 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:44,628 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,629 INFO sqlalchemy.engine.Engine [cached since 0.02302s ago] {'table_name': 'studentsNumberInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,634 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,635 INFO sqlalchemy.engine.Engine [cached since 0.02888s ago] {'table_name': 'teachersInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,638 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,638 INFO sqlalchemy.engine.Engine [cached since 0.03211s ago] {'table_name': 'classesInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,641 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,641 INFO sqlalchemy.engine.Engine [cached since 0.03545s ago] {'table_name': 'classesAndTeachersRelationship', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,644 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 14:52:44,645 INFO sqlalchemy.engine.Engine [cached since 0.03882s ago] {'table_name': 'studentsInfo', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-05-10 14:52:44,648 INFO sqlalchemy.engine.Engine
CREATE TABLE "studentsNumberInfo" (
	id SERIAL NOT NULL,
	number INTEGER NOT NULL,
	admission DATE NOT NULL,
	graduation DATE NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (number)
)


2024-05-10 14:52:44,648 INFO sqlalchemy.engine.Engine [no key 0.00039s] {}
2024-05-10 14:52:44,655 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsNumberInfo".id IS '主键'
2024-05-10 14:52:44,655 INFO sqlalchemy.engine.Engine [no key 0.00042s] {}
2024-05-10 14:52:44,659 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsNumberInfo".number IS '学生编号'
2024-05-10 14:52:44,659 INFO sqlalchemy.engine.Engine [no key 0.00041s] {}
2024-05-10 14:52:44,662 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsNumberInfo".admission IS '入学时间'
2024-05-10 14:52:44,663 INFO sqlalchemy.engine.Engine [no key 0.00051s] {}
2024-05-10 14:52:44,665 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsNumberInfo".graduation IS '毕业时间'
2024-05-10 14:52:44,666 INFO sqlalchemy.engine.Engine [no key 0.00039s] {}
2024-05-10 14:52:44,669 INFO sqlalchemy.engine.Engine
CREATE TABLE "teachersInfo" (
	id SERIAL NOT NULL,
	number INTEGER NOT NULL,
	name VARCHAR(64) NOT NULL,
	gender VARCHAR(1) NOT NULL,
	age INTEGER NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (number)
)


2024-05-10 14:52:44,669 INFO sqlalchemy.engine.Engine [no key 0.00037s] {}
2024-05-10 14:52:44,675 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".id IS '主键'
2024-05-10 14:52:44,676 INFO sqlalchemy.engine.Engine [no key 0.00066s] {}
2024-05-10 14:52:44,679 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".number IS '教师编号'
2024-05-10 14:52:44,679 INFO sqlalchemy.engine.Engine [no key 0.00045s] {}
2024-05-10 14:52:44,682 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".name IS '教师姓名'
2024-05-10 14:52:44,682 INFO sqlalchemy.engine.Engine [no key 0.00041s] {}
2024-05-10 14:52:44,685 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".gender IS '教师性别'
2024-05-10 14:52:44,685 INFO sqlalchemy.engine.Engine [no key 0.00040s] {}
2024-05-10 14:52:44,688 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "teachersInfo".age IS '教师年龄'
2024-05-10 14:52:44,688 INFO sqlalchemy.engine.Engine [no key 0.00045s] {}
2024-05-10 14:52:44,691 INFO sqlalchemy.engine.Engine
CREATE TABLE "classesInfo" (
	id SERIAL NOT NULL,
	number INTEGER NOT NULL,
	name VARCHAR(64) NOT NULL,
	fk_teacher_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (number),
	UNIQUE (name),
	UNIQUE (fk_teacher_id),
	FOREIGN KEY(fk_teacher_id) REFERENCES "teachersInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE
)


2024-05-10 14:52:44,692 INFO sqlalchemy.engine.Engine [no key 0.00059s] {}
2024-05-10 14:52:44,701 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesInfo".id IS '主键'
2024-05-10 14:52:44,702 INFO sqlalchemy.engine.Engine [no key 0.00057s] {}
2024-05-10 14:52:44,705 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesInfo".number IS '班级编号'
2024-05-10 14:52:44,705 INFO sqlalchemy.engine.Engine [no key 0.00037s] {}
2024-05-10 14:52:44,708 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesInfo".name IS '班级名称'
2024-05-10 14:52:44,708 INFO sqlalchemy.engine.Engine [no key 0.00036s] {}
2024-05-10 14:52:44,711 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesInfo".fk_teacher_id IS '班级负责人'
2024-05-10 14:52:44,711 INFO sqlalchemy.engine.Engine [no key 0.00059s] {}
2024-05-10 14:52:44,714 INFO sqlalchemy.engine.Engine
CREATE TABLE "classesAndTeachersRelationship" (
	id SERIAL NOT NULL,
	fk_teacher_id INTEGER NOT NULL,
	fk_class_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (fk_teacher_id, fk_class_id),
	FOREIGN KEY(fk_teacher_id) REFERENCES "teachersInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY(fk_class_id) REFERENCES "classesInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE
)


2024-05-10 14:52:44,714 INFO sqlalchemy.engine.Engine [no key 0.00039s] {}
2024-05-10 14:52:44,721 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesAndTeachersRelationship".id IS '主键'
2024-05-10 14:52:44,721 INFO sqlalchemy.engine.Engine [no key 0.00041s] {}
2024-05-10 14:52:44,724 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesAndTeachersRelationship".fk_teacher_id IS '教师记录'
2024-05-10 14:52:44,724 INFO sqlalchemy.engine.Engine [no key 0.00039s] {}
2024-05-10 14:52:44,727 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "classesAndTeachersRelationship".fk_class_id IS '班级记录'
2024-05-10 14:52:44,728 INFO sqlalchemy.engine.Engine [no key 0.00055s] {}
2024-05-10 14:52:44,730 INFO sqlalchemy.engine.Engine
CREATE TABLE "studentsInfo" (
	id SERIAL NOT NULL,
	name VARCHAR(64) NOT NULL,
	gender VARCHAR(1) NOT NULL,
	age INTEGER NOT NULL,
	fk_student_id INTEGER NOT NULL,
	fk_class_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(fk_student_id) REFERENCES "studentsNumberInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY(fk_class_id) REFERENCES "classesInfo" (id) ON DELETE CASCADE ON UPDATE CASCADE
)


2024-05-10 14:52:44,731 INFO sqlalchemy.engine.Engine [no key 0.00037s] {}
2024-05-10 14:52:44,736 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".id IS '主键'
2024-05-10 14:52:44,736 INFO sqlalchemy.engine.Engine [no key 0.00037s] {}
2024-05-10 14:52:44,739 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".name IS '学生姓名'
2024-05-10 14:52:44,739 INFO sqlalchemy.engine.Engine [no key 0.00035s] {}
2024-05-10 14:52:44,742 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".gender IS '学生性别'
2024-05-10 14:52:44,742 INFO sqlalchemy.engine.Engine [no key 0.00038s] {}
2024-05-10 14:52:44,745 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".age IS '学生年龄'
2024-05-10 14:52:44,745 INFO sqlalchemy.engine.Engine [no key 0.00036s] {}
2024-05-10 14:52:44,748 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".fk_student_id IS '学生编号'
2024-05-10 14:52:44,748 INFO sqlalchemy.engine.Engine [no key 0.00038s] {}
2024-05-10 14:52:44,750 INFO sqlalchemy.engine.Engine COMMENT ON COLUMN "studentsInfo".fk_class_id IS '班级编号'
2024-05-10 14:52:44,751 INFO sqlalchemy.engine.Engine [no key 0.00035s] {}
2024-05-10 14:52:44,753 INFO sqlalchemy.engine.Engine COMMIT

/tmp/ipykernel_773/3227781301.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

### 插入数据

In [5]:
import datetime
session.add_all(
    (
        # 插入学号表数据
        StudentsNumberInfo(
            number=160201,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160101,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160301,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160102,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160302,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        StudentsNumberInfo(
            number=160202,
            admission=datetime.datetime.date(datetime.datetime(2016, 9, 1)),
            graduation=datetime.datetime.date(datetime.datetime(2021, 6, 15))
        ),
        # 插入教师表数据
        TeachersInfo(
            number=3341, name="David", gender="m", age=32,
        ),
        TeachersInfo(
            number=3342, name="Jason", gender="m", age=30,
        ),
        TeachersInfo(
            number=3343, name="Lisa", gender="f", age=28,
        ),
        # 插入班级表数据
        ClassesInfo(
            number=1601, name="one year one class", fk_teacher_id=1
        ),
        ClassesInfo(
            number=1602, name="one year two class", fk_teacher_id=2
        ),
        ClassesInfo(
            number=1603, name="one year three class", fk_teacher_id=3
        ),
        # 插入中间表数据
        ClassesAndTeachersRelationship(
            fk_class_id=1, fk_teacher_id=1
        ),
        ClassesAndTeachersRelationship(
            fk_class_id=2, fk_teacher_id=1
        ),
        ClassesAndTeachersRelationship(
            fk_class_id=3, fk_teacher_id=1
        ),
        ClassesAndTeachersRelationship(
            fk_class_id=1, fk_teacher_id=2
        ),
        ClassesAndTeachersRelationship(
            fk_class_id=3, fk_teacher_id=3
        ),
        # 插入学生表数据
        StudentsInfo(
            name="Jack", gender="m", age=17, fk_student_id=1, fk_class_id=2
        ),
        StudentsInfo(
            name="Tom", gender="m", age=18, fk_student_id=2, fk_class_id=1
        ),
        StudentsInfo(
            name="Mary", gender="f", age=16, fk_student_id=3,
            fk_class_id=3
        ),
        StudentsInfo(
            name="Anna", gender="f", age=17, fk_student_id=4,
            fk_class_id=1
        ),
        StudentsInfo(
            name="Bobby", gender="m", age=18, fk_student_id=6, fk_class_id=2
        ),
    )
)
session.commit()
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:47,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:47,436 INFO sqlalchemy.engine.Engine INSERT INTO "studentsNumberInfo" (number, admission, graduation) SELECT p0::INTEGER, p1::DATE, p2::DATE FROM (VALUES (%(number__0)s, %(admission__0)s, %(graduation__0)s, 0), (%(number__1)s, %(admission__1)s, %(graduation__1)s, 1), (%(number__2)s, %(a ... 233 characters truncated ... en_counter) ORDER BY sen_counter RETURNING "studentsNumberInfo".id, "studentsNumberInfo".id AS id__1
2024-05-10 14:52:47,436 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues) 1/1 (ordered)] {'number__0': 160201, 'graduation__0': datetime.date(2021, 6, 15), 'admission__0': datetime.date(2016, 9, 1), 'number__1': 160101, 'graduation__1': datetime.date(2021, 6, 15), 'admission__1': datetime.date(2016, 9, 1), 'number__2': 160301, 'graduation__2': datetime.date(2021, 6, 15), 'admission__2': datetime.date(2016, 9, 1), 'number__3': 160102, 'graduation__3': datetime.date(2021, 6, 15), 'admission__3': datetime.date(2016, 9, 1), 'number__4': 160302, 'graduation__4': datetime.date(2021, 6, 15), 'admission__4': datetime.date(2016, 9, 1), 'number__5': 160202, 'graduation__5': datetime.date(2021, 6, 15), 'admission__5': datetime.date(2016, 9, 1)}
2024-05-10 14:52:47,441 INFO sqlalchemy.engine.Engine INSERT INTO "teachersInfo" (number, name, gender, age) SELECT p0::INTEGER, p1::VARCHAR, p2::VARCHAR, p3::INTEGER FROM (VALUES (%(number__0)s, %(name__0)s, %(gender__0)s, %(age__0)s, 0), (%(number__1)s, %(name__1)s, %(gender__1)s, %(age__1)s, 1), (%(number__2)s, %(name__2)s, %(gender__2)s, %(age__2)s, 2)) AS imp_sen(p0, p1, p2, p3, sen_counter) ORDER BY sen_counter RETURNING "teachersInfo".id, "teachersInfo".id AS id__1
2024-05-10 14:52:47,443 INFO sqlalchemy.engine.Engine [generated in 0.00007s (insertmanyvalues) 1/1 (ordered)] {'number__0': 3341, 'age__0': 32, 'gender__0': 'm', 'name__0': 'David', 'number__1': 3342, 'age__1': 30, 'gender__1': 'm', 'name__1': 'Jason', 'number__2': 3343, 'age__2': 28, 'gender__2': 'f', 'name__2': 'Lisa'}
2024-05-10 14:52:47,446 INFO sqlalchemy.engine.Engine INSERT INTO "classesInfo" (number, name, fk_teacher_id) SELECT p0::INTEGER, p1::VARCHAR, p2::INTEGER FROM (VALUES (%(number__0)s, %(name__0)s, %(fk_teacher_id__0)s, 0), (%(number__1)s, %(name__1)s, %(fk_teacher_id__1)s, 1), (%(number__2)s, %(name__2)s, %(fk_teacher_id__2)s, 2)) AS imp_sen(p0, p1, p2, sen_counter) ORDER BY sen_counter RETURNING "classesInfo".id, "classesInfo".id AS id__1
2024-05-10 14:52:47,446 INFO sqlalchemy.engine.Engine [generated in 0.00006s (insertmanyvalues) 1/1 (ordered)] {'number__0': 1601, 'fk_teacher_id__0': 1, 'name__0': 'one year one class', 'number__1': 1602, 'fk_teacher_id__1': 2, 'name__1': 'one year two class', 'number__2': 1603, 'fk_teacher_id__2': 3, 'name__2': 'one year three class'}
2024-05-10 14:52:47,450 INFO sqlalchemy.engine.Engine INSERT INTO "classesAndTeachersRelationship" (fk_teacher_id, fk_class_id) SELECT p0::INTEGER, p1::INTEGER FROM (VALUES (%(fk_teacher_id__0)s, %(fk_class_id__0)s, 0), (%(fk_teacher_id__1)s, %(fk_class_id__1)s, 1), (%(fk_teacher_id__2)s, %(fk_class_id__2)s, 2), (%(fk_teacher_id__3)s, %(fk_class_id__3)s, 3), (%(fk_teacher_id__4)s, %(fk_class_id__4)s, 4)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING "classesAndTeachersRelationship".id, "classesAndTeachersRelationship".id AS id__1
2024-05-10 14:52:47,450 INFO sqlalchemy.engine.Engine [generated in 0.00006s (insertmanyvalues) 1/1 (ordered)] {'fk_teacher_id__0': 1, 'fk_class_id__0': 1, 'fk_teacher_id__1': 1, 'fk_class_id__1': 2, 'fk_teacher_id__2': 1, 'fk_class_id__2': 3, 'fk_teacher_id__3': 2, 'fk_class_id__3': 1, 'fk_teacher_id__4': 3, 'fk_class_id__4': 3}
2024-05-10 14:52:47,453 INFO sqlalchemy.engine.Engine INSERT INTO "studentsInfo" (name, gender, age, fk_student_id, fk_class_id) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(name__0)s, %(gender__0)s, %(age__0)s, %(fk_student_id__0)s, %(fk_class_id__0)s, 0), (%(n ... 364 characters truncated ... 2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING "studentsInfo".id, "studentsInfo".id AS id__1
2024-05-10 14:52:47,454 INFO sqlalchemy.engine.Engine [generated in 0.00007s (insertmanyvalues) 1/1 (ordered)] {'age__0': 17, 'fk_class_id__0': 2, 'fk_student_id__0': 1, 'gender__0': 'm', 'name__0': 'Jack', 'age__1': 18, 'fk_class_id__1': 1, 'fk_student_id__1': 2, 'gender__1': 'm', 'name__1': 'Tom', 'age__2': 16, 'fk_class_id__2': 3, 'fk_student_id__2': 3, 'gender__2': 'f', 'name__2': 'Mary', 'age__3': 17, 'fk_class_id__3': 1, 'fk_student_id__3': 4, 'gender__3': 'f', 'name__3': 'Anna', 'age__4': 18, 'fk_class_id__4': 2, 'fk_student_id__4': 6, 'gender__4': 'm', 'name__4': 'Bobby'}
2024-05-10 14:52:47,457 INFO sqlalchemy.engine.Engine COMMIT

## JOIN

In [6]:
Session = sessionmaker(bind=engine)
session = scoped_session(Session)
result = session.query(
    StudentsInfo.name,
    StudentsNumberInfo.number,
    ClassesInfo.number
).join(
    StudentsNumberInfo,
    StudentsInfo.fk_student_id == StudentsNumberInfo.id
).join(
    ClassesInfo,
    StudentsInfo.fk_class_id == ClassesInfo.id
).all()
print(result)
# [('Jack', 160201, 1602), ('Tom', 160101, 1601), ('Mary', 160301, 1603), ('Anna', 160102, 1601), ('Bobby', 160202, 1602)]
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:49,614 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:49,617 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".name AS "studentsInfo_name", "studentsNumberInfo".number AS "studentsNumberInfo_number", "classesInfo".number AS "classesInfo_number"
FROM "studentsInfo" JOIN "studentsNumberInfo" ON "studentsInfo".fk_student_id = "studentsNumberInfo".id JOIN "classesInfo" ON "studentsInfo".fk_class_id = "classesInfo".id
2024-05-10 14:52:49,617 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {}
[('Jack', 160201, 1602), ('Tom', 160101, 1601), ('Mary', 160301, 1603), ('Anna', 160102, 1601), ('Bobby', 160202, 1602)]
2024-05-10 14:52:49,623 INFO sqlalchemy.engine.Engine ROLLBACK

### LEFT JOIN

left join只需要在每个JOIN中指定isouter关键字参数为True即可：

session.query(
    左表.字段,
    右表.字段
)
.join(
    右表,
    链接条件,
    isouter=True
).all()

### RIGHT JOIN

需要换表的位置，SQLALchemy本身并未提供RIGHT JOIN，所以使用时一定要注意驱动顺序，小表驱动大表：

session.query(
    左表.字段,
    右表.字段
)
.join(
    左表,
    链接条件,
    isouter=True
).all()

## 子查询

子查询使用subquery()实现，如下所示，查询每个班级中年龄最小的人：

In [7]:
# 获取链接池、ORM表对象
from sqlalchemy import func
# 子查询中所有字段的访问都需要加上c的前缀
# 如 sub_query.c.id、 sub_query.c.name等
sub_query = session.query(
    # 使用label()来为字段AS一个别名
    # 后续访问需要通过sub_query.c.alias进行访问
    func.min(StudentsInfo.age).label("min_age"),
    ClassesInfo.id,
    ClassesInfo.name
).join(
    ClassesInfo,
    StudentsInfo.fk_class_id == ClassesInfo.id
).group_by(
    ClassesInfo.id
).subquery()

result = session.query(
    StudentsInfo.name,
    sub_query.c.min_age,
    sub_query.c.name
).join(
    sub_query,
    sub_query.c.id == StudentsInfo.fk_class_id
).filter(
   sub_query.c.min_age == StudentsInfo.age
)

print(result.all())
# [('Jack', 17, 'one year two class'), ('Mary', 16, 'one year three class'), ('Anna', 17, 'one year one class')]

# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:51,225 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:51,228 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".name AS "studentsInfo_name", anon_1.min_age AS anon_1_min_age, anon_1.name AS anon_1_name
FROM "studentsInfo" JOIN (SELECT min("studentsInfo".age) AS min_age, "classesInfo".id AS id, "classesInfo".name AS name
FROM "studentsInfo" JOIN "classesInfo" ON "studentsInfo".fk_class_id = "classesInfo".id GROUP BY "classesInfo".id) AS anon_1 ON anon_1.id = "studentsInfo".fk_class_id
WHERE anon_1.min_age = "studentsInfo".age
2024-05-10 14:52:51,229 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {}
[('Jack', 17, 'one year two class'), ('Mary', 16, 'one year three class'), ('Anna', 17, 'one year one class')]
2024-05-10 14:52:51,234 INFO sqlalchemy.engine.Engine ROLLBACK

## 正反查询

上面我们都是通过JOIN进行查询的，实际上我们也可以通过逻辑字段relationship进行查询。

### 正向查询

下面是正向查询的示例，正向查询是指从有relationship逻辑字段的表开始查询：

In [8]:
# 查询所有学生的所在班级，我们可以通过学生的from_class字段拿到其所在班级
# 另外，对于学生来说，班级只能有一个，所以have_student应当是一个对象
# 获取链接池、ORM表对象
students_lst = session.query(
    StudentsInfo
).all()
for row in students_lst:
    print(f"""
            student name : {row.name}
            from : {row.from_class.name}
          """)
# student name : Mary
# from : one year three class
# student name : Anna
# from : one year one class
# student name : Bobby
# from : one year two class
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:52,316 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:52,318 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
2024-05-10 14:52:52,318 INFO sqlalchemy.engine.Engine [generated in 0.00059s] {}
2024-05-10 14:52:52,324 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2024-05-10 14:52:52,325 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {'pk_1': 2}

            student name : Jack
            from : one year two class

2024-05-10 14:52:52,327 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2024-05-10 14:52:52,328 INFO sqlalchemy.engine.Engine [cached since 0.003758s ago] {'pk_1': 1}

            student name : Tom
            from : one year one class

2024-05-10 14:52:52,330 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2024-05-10 14:52:52,330 INFO sqlalchemy.engine.Engine [cached since 0.006453s ago] {'pk_1': 3}

            student name : Mary
            from : one year three class


            student name : Anna
            from : one year one class


            student name : Bobby
            from : one year two class

2024-05-10 14:52:52,333 INFO sqlalchemy.engine.Engine ROLLBACK

### 反向查询

下面是反向查询的示例，反向查询是指从没有relationship逻辑字段的表开始查询：

In [9]:
# 查询所有班级中的所有学生，学生表中有relationship，并且它的backref为have_student，所以我们可以通过班级.have_student来获取所有学生记录
# 另外，对于班级来说，学生可以有多个，所以have_student应当是一个序列
classes_lst = session.query(
    ClassesInfo
).all()
for row in classes_lst:
    print("class name :", row.name)
    for student in row.have_student:
        print("student name :", student.name)
# class name : one year one class
#      student name : Jack
#      student name : Anna
# class name : one year two class
#      student name : Tom
# class name : one year three class
#      student name : Mary
#      student name : Bobby
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:53,183 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:53,184 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
2024-05-10 14:52:53,185 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {}
class name : one year one class
2024-05-10 14:52:53,190 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2024-05-10 14:52:53,191 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {'param_1': 1}
student name : Tom
student name : Anna
class name : one year two class
2024-05-10 14:52:53,193 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2024-05-10 14:52:53,194 INFO sqlalchemy.engine.Engine [cached since 0.003413s ago] {'param_1': 2}
student name : Jack
student name : Bobby
class name : one year three class
2024-05-10 14:52:53,196 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2024-05-10 14:52:53,197 INFO sqlalchemy.engine.Engine [cached since 0.006213s ago] {'param_1': 3}
student name : Mary
2024-05-10 14:52:53,199 INFO sqlalchemy.engine.Engine ROLLBACK

总结，正向查询的逻辑字段总是得到一个对象，反向查询的逻辑字段总是得到一个列表。

反向方法

使用逻辑字段relationship可以直接对一些跨表记录进行增删改查。

由于逻辑字段是一个类似于列表的存在（仅限于反向查询，正向查询总是得到一个对象），所以列表的绝大多数方法都能用。

<class 'sqlalchemy.orm.collections.InstrumentedList'>
    - append()
    - clear()
    - copy()
    - count()
    - extend()
    - index()
    - insert()
    - pop()
    - remove()
    - reverse()
    - sort()
下面不再进行实机演示，因为我们上面的几张表中做了很多约束。

以下代码只是举例，运行时不会成功 


比如给老师增加班级
```python
result = session.query(Teachers).first()

# extend方法：
result.re_class.extend([
    Classes(name="三年级一班",),
    Classes(name="三年级二班",),
])
# 比如
# 减少老师所在的班级
result = session.query(Teachers).first()
# 待删除的班级对象,集合查找比较快
delete_class_set = {
    session.query(Classes).filter_by(id=7).first(),
    session.query(Classes).filter_by(id=8).first(),
}
# 循换老师所在的班级
# remove方法：
for class_obj in result.re_class:
    if class_obj in delete_class_set:
        result.re_class.remove(class_obj)
# 比如
# 清空老师所任教的所有班级
# 拿出一个老师
result = session.query(Teachers).first()
result.re_class.clear()
```

## 查询案例

（1）查看每个班级共有多少学生：

In [10]:
#JOIN查询：

# 获取链接池、ORM表对象
from sqlalchemy import func
result = session.query(
    ClassesInfo.name,
    func.count(StudentsInfo.id)
).join(
    StudentsInfo,
    ClassesInfo.id == StudentsInfo.fk_class_id
).group_by(
    ClassesInfo.id
).all()
print(result)
# [('one year one class', 2), ('one year two class', 2), ('one year three class', 1)]
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:56,698 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:56,700 INFO sqlalchemy.engine.Engine SELECT "classesInfo".name AS "classesInfo_name", count("studentsInfo".id) AS count_1
FROM "classesInfo" JOIN "studentsInfo" ON "classesInfo".id = "studentsInfo".fk_class_id GROUP BY "classesInfo".id
2024-05-10 14:52:56,701 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {}
[('one year two class', 2), ('one year one class', 2), ('one year three class', 1)]
2024-05-10 14:52:56,707 INFO sqlalchemy.engine.Engine ROLLBACK

In [11]:
#正反查询：
result = {}
class_lst = session.query(
    ClassesInfo
).all()
for row in class_lst:
    for student in row.have_student:
        count = result.setdefault(row.name, 0)
        result[row.name] = count + 1
print(result.items())
# dict_items([('one year one class', 2), ('one year two class', 2), ('one year three class', 1)])
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:57,121 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:57,122 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
2024-05-10 14:52:57,122 INFO sqlalchemy.engine.Engine [cached since 3.938s ago] {}
2024-05-10 14:52:57,127 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2024-05-10 14:52:57,127 INFO sqlalchemy.engine.Engine [cached since 3.937s ago] {'param_1': 1}
2024-05-10 14:52:57,130 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2024-05-10 14:52:57,130 INFO sqlalchemy.engine.Engine [cached since 3.94s ago] {'param_1': 2}
2024-05-10 14:52:57,133 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE %(param_1)s = "studentsInfo".fk_class_id
2024-05-10 14:52:57,133 INFO sqlalchemy.engine.Engine [cached since 3.943s ago] {'param_1': 3}
dict_items([('one year one class', 2), ('one year two class', 2), ('one year three class', 1)])
2024-05-10 14:52:57,136 INFO sqlalchemy.engine.Engine ROLLBACK

（2）查看每个学生的入学、毕业年份以及所在的班级名称：

In [12]:
#JOIN查询：
result = session.query(
    StudentsNumberInfo.number,
    StudentsInfo.name,
    ClassesInfo.name,
    StudentsNumberInfo.admission,
    StudentsNumberInfo.graduation
).join(
    StudentsInfo,
    StudentsInfo.fk_class_id == ClassesInfo.id
).join(
    StudentsNumberInfo,
    StudentsNumberInfo.id == StudentsInfo.fk_student_id
).order_by(
    StudentsNumberInfo.number.asc()
).all()
print(result)
# [
#     (160101, 'Tom', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160102, 'Anna', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160201, 'Jack', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160202, 'Bobby', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160301, 'Mary', 'one year three class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15))
# ]
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:58,048 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:58,050 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsInfo".name AS "studentsInfo_name", "classesInfo".name AS "classesInfo_name", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "classesInfo" JOIN "studentsInfo" ON "studentsInfo".fk_class_id = "classesInfo".id JOIN "studentsNumberInfo" ON "studentsNumberInfo".id = "studentsInfo".fk_student_id ORDER BY "studentsNumberInfo".number ASC
2024-05-10 14:52:58,050 INFO sqlalchemy.engine.Engine [generated in 0.00075s] {}
[(160101, 'Tom', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160102, 'Anna', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160201, 'Jack', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160202, 'Bobby', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160301, 'Mary', 'one year three class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15))]
2024-05-10 14:52:58,057 INFO sqlalchemy.engine.Engine ROLLBACK

In [13]:
#正反查询：
result = []
student_lst = session.query(
    StudentsInfo
).all()
for row in student_lst:
    result.append((
        row.number_info.number,
        row.name,
        row.from_class.name,
        row.number_info.admission,
        row.number_info.graduation
    ))
print(result)
# [
#     (160101, 'Tom', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160102, 'Anna', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160201, 'Jack', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160202, 'Bobby', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)),
#     (160301, 'Mary', 'one year three class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15))
# ]
# 关闭链接，亦可使用session.remove()，它将回收该链接
session.close()

2024-05-10 14:52:58,482 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 14:52:58,483 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
2024-05-10 14:52:58,484 INFO sqlalchemy.engine.Engine [cached since 6.166s ago] {}
2024-05-10 14:52:58,490 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2024-05-10 14:52:58,491 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {'pk_1': 1}
2024-05-10 14:52:58,494 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2024-05-10 14:52:58,494 INFO sqlalchemy.engine.Engine [cached since 6.17s ago] {'pk_1': 2}
2024-05-10 14:52:58,498 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2024-05-10 14:52:58,498 INFO sqlalchemy.engine.Engine [cached since 0.007789s ago] {'pk_1': 2}
2024-05-10 14:52:58,501 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2024-05-10 14:52:58,502 INFO sqlalchemy.engine.Engine [cached since 6.178s ago] {'pk_1': 1}
2024-05-10 14:52:58,505 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2024-05-10 14:52:58,505 INFO sqlalchemy.engine.Engine [cached since 0.01471s ago] {'pk_1': 3}
2024-05-10 14:52:58,508 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo"
WHERE "classesInfo".id = %(pk_1)s
2024-05-10 14:52:58,508 INFO sqlalchemy.engine.Engine [cached since 6.184s ago] {'pk_1': 3}
2024-05-10 14:52:58,511 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2024-05-10 14:52:58,512 INFO sqlalchemy.engine.Engine [cached since 0.0216s ago] {'pk_1': 4}
2024-05-10 14:52:58,515 INFO sqlalchemy.engine.Engine SELECT "studentsNumberInfo".id AS "studentsNumberInfo_id", "studentsNumberInfo".number AS "studentsNumberInfo_number", "studentsNumberInfo".admission AS "studentsNumberInfo_admission", "studentsNumberInfo".graduation AS "studentsNumberInfo_graduation"
FROM "studentsNumberInfo"
WHERE "studentsNumberInfo".id = %(pk_1)s
2024-05-10 14:52:58,515 INFO sqlalchemy.engine.Engine [cached since 0.02495s ago] {'pk_1': 6}
[(160201, 'Jack', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160101, 'Tom', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160301, 'Mary', 'one year three class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160102, 'Anna', 'one year one class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15)), (160202, 'Bobby', 'one year two class', datetime.date(2016, 9, 1), datetime.date(2021, 6, 15))]
2024-05-10 14:52:58,518 INFO sqlalchemy.engine.Engine ROLLBACK

3）查看David所教授的学生中年龄最小的学生：

#### 练习1：

In [15]:
# todo
#JOIN查询
# [('David', 'Mary', 16, 'one year three class')]
from sqlalchemy import func

session.rollback()

query = session.query(StudentsInfo.name.label("student_name"),
                      StudentsInfo.age.label("student_age"),
                      ClassesInfo.name.label("class_name")).\
    join(ClassesAndTeachersRelationship,
         StudentsInfo.fk_class_id == ClassesAndTeachersRelationship.fk_class_id).\
    join(TeachersInfo,
         TeachersInfo.id == ClassesAndTeachersRelationship.fk_teacher_id).\
    join(ClassesInfo,
         ClassesInfo.id == StudentsInfo.fk_class_id).\
    filter(TeachersInfo.name == 'David').\
    group_by(StudentsInfo.id, ClassesInfo.name).\
    having(func.min(StudentsInfo.age) == StudentsInfo.age)

youngest_student = query.first()

print(youngest_student.student_name, youngest_student.student_age, youngest_student.class_name)

2024-05-10 15:06:59,483 INFO sqlalchemy.engine.Engine ROLLBACK
2024-05-10 15:06:59,501 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:06:59,501 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".name AS student_name, "studentsInfo".age AS student_age, "classesInfo".name AS class_name
FROM "studentsInfo" JOIN "classesAndTeachersRelationship" ON "studentsInfo".fk_class_id = "classesAndTeachersRelationship".fk_class_id JOIN "teachersInfo" ON "teachersInfo".id = "classesAndTeachersRelationship".fk_teacher_id JOIN "classesInfo" ON "classesInfo".id = "studentsInfo".fk_class_id
WHERE "teachersInfo".name = %(name_1)s GROUP BY "studentsInfo".id, "classesInfo".name
HAVING min("studentsInfo".age) = "studentsInfo".age
 LIMIT %(param_1)s
2024-05-10 15:06:59,502 INFO sqlalchemy.engine.Engine [cached since 152.8s ago] {'name_1': 'David', 'param_1': 1}
Mary 16 one year three class

#### 练习2:

In [22]:
#正反查询：
# ('David', 'Mary', 16, 'one year three class')
david_classes = session.query(ClassesInfo).\
    join(ClassesAndTeachersRelationship, ClassesInfo.id == ClassesAndTeachersRelationship.fk_class_id).\
    join(TeachersInfo, TeachersInfo.id == ClassesAndTeachersRelationship.fk_teacher_id).\
    filter(TeachersInfo.name == 'David').\
    all()

min_age = float('inf')
youngest_student = None
class_name = None

for cls in david_classes:
    youngest_in_class = session.query(StudentsInfo).\
        filter(StudentsInfo.fk_class_id == cls.id).\
        order_by(StudentsInfo.age).\
        first()

    if youngest_in_class and youngest_in_class.age < min_age:
        min_age = youngest_in_class.age
        youngest_student = youngest_in_class
        class_name = cls.name

session.commit()

if youngest_student:
    print(f"Youngest student taught by David: {youngest_student.name}, Age: {youngest_student.age}, Class: {class_name}")
else:
    print("No students taught by David!")

2024-05-10 15:27:59,074 INFO sqlalchemy.engine.Engine SELECT "classesInfo".id AS "classesInfo_id", "classesInfo".number AS "classesInfo_number", "classesInfo".name AS "classesInfo_name", "classesInfo".fk_teacher_id AS "classesInfo_fk_teacher_id"
FROM "classesInfo" JOIN "classesAndTeachersRelationship" ON "classesInfo".id = "classesAndTeachersRelationship".fk_class_id JOIN "teachersInfo" ON "teachersInfo".id = "classesAndTeachersRelationship".fk_teacher_id
WHERE "teachersInfo".name = %(name_1)s
2024-05-10 15:27:59,074 INFO sqlalchemy.engine.Engine [generated in 0.00093s] {'name_1': 'David'}
2024-05-10 15:27:59,079 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE "studentsInfo".fk_class_id = %(fk_class_id_1)s ORDER BY "studentsInfo".age
 LIMIT %(param_1)s
2024-05-10 15:27:59,079 INFO sqlalchemy.engine.Engine [generated in 0.00062s] {'fk_class_id_1': 1, 'param_1': 1}
2024-05-10 15:27:59,083 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE "studentsInfo".fk_class_id = %(fk_class_id_1)s ORDER BY "studentsInfo".age
 LIMIT %(param_1)s
2024-05-10 15:27:59,083 INFO sqlalchemy.engine.Engine [cached since 0.004076s ago] {'fk_class_id_1': 2, 'param_1': 1}
2024-05-10 15:27:59,086 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE "studentsInfo".fk_class_id = %(fk_class_id_1)s ORDER BY "studentsInfo".age
 LIMIT %(param_1)s
2024-05-10 15:27:59,087 INFO sqlalchemy.engine.Engine [cached since 0.008013s ago] {'fk_class_id_1': 3, 'param_1': 1}
2024-05-10 15:27:59,090 INFO sqlalchemy.engine.Engine COMMIT
2024-05-10 15:27:59,107 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:27:59,108 INFO sqlalchemy.engine.Engine SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"
WHERE "studentsInfo".id = %(pk_1)s
2024-05-10 15:27:59,109 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {'pk_1': 3}
Youngest student taught by David: Mary, Age: 16, Class: one year three class

4）查看每个班级的负责人是谁，以及任课老师都有谁：

#### 练习3:

In [37]:
# JOIN
# todo
# [('one year one class', 'David', 'Jason,David'), ('one year two class', 'Jason', 'David'), ('one year three class', 'Lisa', 'David,Lisa')]

class_leader_alias = aliased(TeachersInfo)
teacher_alias = aliased(TeachersInfo)

class_teacher_info = session.query(
    ClassesInfo.name.label('class_name'),
    class_leader_alias.name.label('class_leader'),
    teacher_alias.name.label('teacher_name')
).join(
    class_leader_alias,
    ClassesInfo.fk_teacher_id == class_leader_alias.id
).join(
    ClassesAndTeachersRelationship,
    ClassesInfo.id == ClassesAndTeachersRelationship.fk_class_id
).join(
    teacher_alias,
    ClassesAndTeachersRelationship.fk_teacher_id == teacher_alias.id
).order_by(ClassesInfo.name).all()

merged_classes = {}
for info in class_teacher_info:
    class_name = info.class_name
    if class_name not in merged_classes:
        merged_classes[class_name] = {'class_leader': info.class_leader, 'teachers': set()}
    merged_classes[class_name]['teachers'].add(info.teacher_name)

for class_name, class_info in merged_classes.items():
    teachers_str = ', '.join(class_info['teachers'])
    print(f"Class: {class_name}, Leader: {class_info['class_leader']}, Teacher(s): {teachers_str}")

session.close()

2024-05-10 15:44:01,615 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:44:01,616 INFO sqlalchemy.engine.Engine SELECT "classesInfo".name AS class_name, "teachersInfo_1".name AS class_leader, "teachersInfo_2".name AS teacher_name
FROM "classesInfo" JOIN "teachersInfo" AS "teachersInfo_1" ON "classesInfo".fk_teacher_id = "teachersInfo_1".id JOIN "classesAndTeachersRelationship" ON "classesInfo".id = "classesAndTeachersRelationship".fk_class_id JOIN "teachersInfo" AS "teachersInfo_2" ON "classesAndTeachersRelationship".fk_teacher_id = "teachersInfo_2".id ORDER BY "classesInfo".name
2024-05-10 15:44:01,617 INFO sqlalchemy.engine.Engine [cached since 388.9s ago] {}
Class: one year one class, Leader: David, Teacher(s): David, Jason
Class: one year three class, Leader: Lisa, Teacher(s): Lisa, David
Class: one year two class, Leader: Jason, Teacher(s): David
2024-05-10 15:44:01,622 INFO sqlalchemy.engine.Engine ROLLBACK

#### 练习4

In [34]:
# 正反查询
# todo
# [('one year one class', 'David', 'Jason,David'), ('one year two class', 'Jason', 'David'), ('one year three class', 'Lisa', 'David,Lisa')]

class_teacher_info = session.query(ClassesInfo.name, TeachersInfo.name.label('class_leader')).\
                        join(TeachersInfo, ClassesInfo.fk_teacher_id == TeachersInfo.id).all()

res = []
for class_name, class_leader in class_teacher_info:
    class_teachers = session.query(TeachersInfo.name).\
                        join(ClassesAndTeachersRelationship, ClassesAndTeachersRelationship.fk_teacher_id == TeachersInfo.id).\
                        join(ClassesInfo, ClassesAndTeachersRelationship.fk_class_id == ClassesInfo.id).\
                        filter(ClassesInfo.name == class_name).all()
    teachers = [teacher.name for teacher in class_teachers]
    res.append(f"Class: {class_name}, Leader: {class_leader}, Teacher(s): {', '.join(teachers)}")

for result in res:
    print(result)

session.close()

2024-05-10 15:43:15,392 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:43:15,393 INFO sqlalchemy.engine.Engine SELECT "classesInfo".name AS "classesInfo_name", "teachersInfo".name AS class_leader
FROM "classesInfo" JOIN "teachersInfo" ON "classesInfo".fk_teacher_id = "teachersInfo".id
2024-05-10 15:43:15,393 INFO sqlalchemy.engine.Engine [cached since 32.96s ago] {}
2024-05-10 15:43:15,397 INFO sqlalchemy.engine.Engine SELECT "teachersInfo".name AS "teachersInfo_name"
FROM "teachersInfo" JOIN "classesAndTeachersRelationship" ON "classesAndTeachersRelationship".fk_teacher_id = "teachersInfo".id JOIN "classesInfo" ON "classesAndTeachersRelationship".fk_class_id = "classesInfo".id
WHERE "classesInfo".name = %(name_1)s
2024-05-10 15:43:15,397 INFO sqlalchemy.engine.Engine [cached since 32.95s ago] {'name_1': 'one year one class'}
2024-05-10 15:43:15,399 INFO sqlalchemy.engine.Engine SELECT "teachersInfo".name AS "teachersInfo_name"
FROM "teachersInfo" JOIN "classesAndTeachersRelationship" ON "classesAndTeachersRelationship".fk_teacher_id = "teachersInfo".id JOIN "classesInfo" ON "classesAndTeachersRelationship".fk_class_id = "classesInfo".id
WHERE "classesInfo".name = %(name_1)s
2024-05-10 15:43:15,400 INFO sqlalchemy.engine.Engine [cached since 32.96s ago] {'name_1': 'one year two class'}
2024-05-10 15:43:15,401 INFO sqlalchemy.engine.Engine SELECT "teachersInfo".name AS "teachersInfo_name"
FROM "teachersInfo" JOIN "classesAndTeachersRelationship" ON "classesAndTeachersRelationship".fk_teacher_id = "teachersInfo".id JOIN "classesInfo" ON "classesAndTeachersRelationship".fk_class_id = "classesInfo".id
WHERE "classesInfo".name = %(name_1)s
2024-05-10 15:43:15,402 INFO sqlalchemy.engine.Engine [cached since 32.96s ago] {'name_1': 'one year three class'}
Class: one year one class, Leader: David, Teacher(s): David, Jason
Class: one year two class, Leader: Jason, Teacher(s): David
Class: one year three class, Leader: Lisa, Teacher(s): David, Lisa
2024-05-10 15:43:15,403 INFO sqlalchemy.engine.Engine ROLLBACK

原生SQL

查看执行命令

如果一条查询语句是filter()结尾，则该对象的__str__方法会返回格式化后的查询语句：

In [35]:
print(
    session.query(StudentsInfo).filter()
)

SELECT "studentsInfo".id AS "studentsInfo_id", "studentsInfo".name AS "studentsInfo_name", "studentsInfo".gender AS "studentsInfo_gender", "studentsInfo".age AS "studentsInfo_age", "studentsInfo".fk_student_id AS "studentsInfo_fk_student_id", "studentsInfo".fk_class_id AS "studentsInfo_fk_class_id"
FROM "studentsInfo"

In [36]:
from sqlalchemy import inspect
import logging

logging.getLogger('sqlalchemy.engine').setLevel(logging.ERROR)
inspector = inspect(engine)

tables = inspector.get_table_names()

for table_name in tables:
    print("Table:", table_name)
    columns = inspector.get_columns(table_name)
    for column in columns:
        print("Column:", column["name"], "Type:", column["type"])
    print("\n")

2024-05-10 15:43:39,007 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:43:39,008 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-05-10 15:43:39,008 INFO sqlalchemy.engine.Engine [cached since 801.2s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2024-05-10 15:43:39,014 INFO sqlalchemy.engine.Engine ROLLBACK
Table: studentsNumberInfo
2024-05-10 15:43:39,016 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:43:39,016 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2024-05-10 15:43:39,017 INFO sqlalchemy.engine.Engine [cached since 801.2s ago] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'studentsNumberInfo'}
2024-05-10 15:43:39,023 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.format_type(pg_catalog.pg_type.typbasetype, pg_catalog.pg_type.typtypmod) AS attype, NOT pg_catalog.pg_type.typnotnull AS nullable, pg_catalog.pg_type.typdefault AS "default", pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, domain_constraints.condefs, domain_constraints.connames
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN (SELECT pg_catalog.pg_constraint.contypid AS contypid, array_agg(pg_catalog.pg_get_constraintdef(pg_catalog.pg_constraint.oid, %(pg_get_constraintdef_1)s)) AS condefs, array_agg(CAST(pg_catalog.pg_constraint.conname AS TEXT)) AS connames
FROM pg_catalog.pg_constraint
WHERE pg_catalog.pg_constraint.contypid != %(contypid_1)s GROUP BY pg_catalog.pg_constraint.contypid) AS domain_constraints ON pg_catalog.pg_type.oid = domain_constraints.contypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2024-05-10 15:43:39,023 INFO sqlalchemy.engine.Engine [cached since 801.2s ago] {'pg_get_constraintdef_1': True, 'contypid_1': 0, 'typtype_1': 'd'}
2024-05-10 15:43:39,026 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_type.typname AS name, pg_catalog.pg_type_is_visible(pg_catalog.pg_type.oid) AS visible, pg_catalog.pg_namespace.nspname AS schema, lbl_agg.labels AS labels
FROM pg_catalog.pg_type JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_type.typnamespace LEFT OUTER JOIN (SELECT pg_catalog.pg_enum.enumtypid AS enumtypid, array_agg(CAST(pg_catalog.pg_enum.enumlabel AS TEXT) ORDER BY pg_catalog.pg_enum.enumsortorder) AS labels
FROM pg_catalog.pg_enum GROUP BY pg_catalog.pg_enum.enumtypid) AS lbl_agg ON pg_catalog.pg_type.oid = lbl_agg.enumtypid
WHERE pg_catalog.pg_type.typtype = %(typtype_1)s ORDER BY pg_catalog.pg_namespace.nspname, pg_catalog.pg_type.typname
2024-05-10 15:43:39,027 INFO sqlalchemy.engine.Engine [cached since 801.2s ago] {'typtype_1': 'e'}
2024-05-10 15:43:39,029 INFO sqlalchemy.engine.Engine ROLLBACK
Column: id Type: INTEGER
Column: number Type: INTEGER
Column: admission Type: DATE
Column: graduation Type: DATE


Table: studentsInfo
2024-05-10 15:43:39,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:43:39,032 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2024-05-10 15:43:39,032 INFO sqlalchemy.engine.Engine [cached since 801.2s ago] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'studentsInfo'}
2024-05-10 15:43:39,037 INFO sqlalchemy.engine.Engine ROLLBACK
Column: id Type: INTEGER
Column: name Type: VARCHAR(64)
Column: gender Type: VARCHAR(1)
Column: age Type: INTEGER
Column: fk_student_id Type: INTEGER
Column: fk_class_id Type: INTEGER


Table: student
2024-05-10 15:43:39,039 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:43:39,040 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2024-05-10 15:43:39,040 INFO sqlalchemy.engine.Engine [cached since 801.2s ago] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'student'}
2024-05-10 15:43:39,044 INFO sqlalchemy.engine.Engine ROLLBACK
Column: s_id Type: VARCHAR(10)
Column: s_name Type: VARCHAR(20)
Column: s_age Type: DATE
Column: s_sex Type: VARCHAR(10)


Table: course
2024-05-10 15:43:39,047 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:43:39,047 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2024-05-10 15:43:39,047 INFO sqlalchemy.engine.Engine [cached since 801.2s ago] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'course'}
2024-05-10 15:43:39,051 INFO sqlalchemy.engine.Engine ROLLBACK
Column: c_id Type: VARCHAR(10)
Column: c_name Type: VARCHAR(20)
Column: t_id Type: VARCHAR(10)


Table: teacher
2024-05-10 15:43:39,053 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:43:39,054 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1
FROM pg_catalog.pg_sequence
WHERE pg_catalog.pg_attribute.attidentity != %(attidentity_2)s AND pg_catalog.pg_sequence.seqrelid = CAST(CAST(pg_catalog.pg_get_serial_sequence(CAST(CAST(pg_catalog.pg_attribute.attrelid AS REGCLASS) AS TEXT), pg_catalog.pg_attribute.attname) AS REGCLASS) AS OID)) AS identity_options
FROM pg_catalog.pg_class LEFT OUTER JOIN pg_catalog.pg_attribute ON pg_catalog.pg_class.oid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attribute.attnum > %(attnum_1)s AND NOT pg_catalog.pg_attribute.attisdropped LEFT OUTER JOIN pg_catalog.pg_description ON pg_catalog.pg_description.objoid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_description.objsubid = pg_catalog.pg_attribute.attnum JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s AND pg_catalog.pg_class.relname IN (%(filter_names_1)s) ORDER BY pg_catalog.pg_class.relname, pg_catalog.pg_attribute.attnum
2024-05-10 15:43:39,054 INFO sqlalchemy.engine.Engine [cached since 801.2s ago] {'json_build_object_2': 'always', 'attidentity_1': 'a', 'json_build_object_3': 'start', 'json_build_object_4': 'increment', 'json_build_object_5': 'minvalue', 'json_build_object_6': 'maxvalue', 'json_build_object_7': 'cache', 'json_build_object_8': 'cycle', 'attidentity_2': '', 'attnum_1': 0, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog', 'filter_names_1': 'teacher'}
2024-05-10 15:43:39,058 INFO sqlalchemy.engine.Engine ROLLBACK
Column: t_id Type: VARCHAR(10)
Column: t_name Type: VARCHAR(20)


Table: score
2024-05-10 15:43:39,060 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 15:43:39,060 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_attribute.attname AS name, pg_catalog.format_type(pg_catalog.pg_attribute.atttypid, pg_catalog.pg_attribute.atttypmod) AS format_type, (SELECT pg_catalog.pg_get_expr(pg_catalog.pg_attrdef.adbin, pg_catalog.pg_attrdef.adrelid) AS pg_get_expr_1
FROM pg_catalog.pg_attrdef
WHERE pg_catalog.pg_attrdef.adrelid = pg_catalog.pg_attribute.attrelid AND pg_catalog.pg_attrdef.adnum = pg_catalog.pg_attribute.attnum AND pg_catalog.pg_attribute.atthasdef) AS "default", pg_catalog.pg_attribute.attnotnull AS not_null, pg_catalog.pg_class.relname AS table_name, pg_catalog.pg_description.description AS comment, pg_catalog.pg_attribute.attgenerated AS generated, (SELECT json_build_object(%(json_build_object_2)s, pg_catalog.pg_attribute.attidentity = %(attidentity_1)s, %(json_build_object_3)s, pg_catalog.pg_sequence.seqstart, %(json_build_object_4)s, pg_catalog.pg_sequence.seqincrement, %(json_build_object_5)s, pg_catalog.pg_sequence.seqmin, %(json_build_object_6)s, pg_catalog.pg_sequence.seqmax, %(json_build_object_7)s, pg_catalog.pg_sequence.seqcache, %(json_build_object_8)s, pg_catalog.pg_sequence.seqcycle) AS json_build_object_1